body { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:aquamarine;
  }
  . { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
 
  .intro {
    margin:150px auto;
    width: 70%;
    margin-right: 600px;
    /* margin-top: 200px; */
   

  }
  img{
    max-width: 300px;
       float: left;
       border: 3px solid #fff;
       border-radius: 10px;
       margin-left: 100px;
       margin-right: 15px;
  }

  .myself{ 
     color: black;
  }
  button {
    display: inline-block;
    position: relative;
    padding: 0.93em 2em;
   margin-bottom: 0px;
    margin-bottom: 0.75em;
    margin-top: 250px;
    margin-right: 300px;
    margin-left: -800px;
    font-size: 1em;
    line-height: 1.23;
    outline: 0;
    border: 2px solid #fff;
    color: aquamarine;
    text-shadow: none;
    background-color: rgb(24, 23, 23) ;
    border-radius: 0;
    font-family: poppins,Helvetica,sans-serif;
    transition: 0.8s;
    border-radius: 10px 0px 10px 0px;
  } 
  button:hover{
    background-color:rgb(49, 134, 106) ;
    color: black;
    border-radius: 0px 10px 0px 10px;
  }

  .list{
 
    background-color: antiquewhite;
   margin-top: -100px;
    
  }
   ul{

   }
   li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
  
  
   }